@import "styles/settings/__settings";

.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justifyContent: center;
  alignItems: center;
}
.minimal{
  fontSize:70px;
  fontFamily: sans-serif;
  fontWeight: bold;
}
  
