@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

$font-family-default: Nunito;
$font-weight-small: 400;
$font-weight-large: 700;

$font-size-small: 11px;
$font-size-normal: 14px;
